<div class="page-body">
  <div class="slide-container">
    <%= render 'questions/new' %>
    <div class="tag_container">
      <div class="tag">
        <h3>All questions</h3>
      </div>
    </div>
  </div>
  <div class="table_container">
    <table>
      <tr>
        <th>
          <%= link_to 'Posted', questions_path(sortby: :created_at) %>
        </th>
        <th>
          <%= link_to 'Title', questions_path(sortby: :title) %>
        </th>
        <th>
          <%= link_to questions_path(sortby: :upvotes) do %>
            <i class="fa fa-thumbs-up" aria-hidden="true" title="upvotes"></i>
          <% end %>
        </th>
        <th>
          <%= link_to questions_path(sortby: :answers) do %>
            <i class="fa fa-comment" aria-hidden="true" title="answers"></i>
          <% end %>
        </th>
        <th>
          <%= link_to questions_path(sortby: :views) do %>
            <i class="fa fa-eye" aria-hidden="true" title="views"></i>
          <% end %>
        </th>
      </tr>
      <% @questions.each do |question| %>
        <tr class="table_body">
          <td><%= time_ago_in_words question.created_at %> ago</td>
          <td><%= link_to question.title, question %></td>
          <td><%= question.upvotes %></td>
          <td><%= question.answers.size %></td>
          <td><%= question.views %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <a href="#top" class="to-top">Back to top</a>
  </div>
  <%= render 'layouts/login-box' %>
</div>


