<div class="page-body">
  <div class="slide-container">
    <%= render 'questions/new' %>
    <div class="question">
      <%= render 'questions/show', question: @question %>
    </div>
    <div class="answer-button"><p>Post answer</p></div>
    <%= render 'answers/form', question_id: @question.id %>
  </div>
  <div class="answer-container">
    <div class="answer-grid">
      <% @question.answers.each do |answer| %>
      <div class="answer">
        <div class="vote-container">
          <span title="{{ answer['vote_value'] }}" class="vote-value"></span>
          <%= form_tag question_answer_vote_up_path(question_id: @question.id, id: answer.id),
                       class: "vote-up", remote: true, authenticity_token: true do %>
            <%= hidden_field_tag 'votable_id', answer.id %>
            <button type="button" class="vote-btn-up">
              <i class="fa fa-caret-up"></i>
            </button>
          <% end %>
          <p><%= answer.upvotes %></p>
          <%= form_tag question_answer_vote_down_path(question_id: @question.id, id: answer.id),
                       class: "vote-down", remote: true, authenticity_token: true do %>
            <%= hidden_field_tag 'votable_id', answer.id %>
            <button type="button" class="vote-btn-down">
              <i class="fa fa-caret-down"></i>
            </button>
          <% end %>
        </div>
        <div class="answer-message"><p><%= answer.message %></p></div>
        <% if answer.image %>
          <%= image_tag answer.image %>
        <% end %>
        <div class="footer">
          <p><%= time_ago_in_words answer.created_at %> ago</p>
          <%= link_to user_path(answer.user) do %>
            <p><%= answer.user.username %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% if @question.answers.size < 2 %>
      <div class="padding"></div>
    <% else %>
      <br>
      <a href="#top" class="to-top">Back to top</a>
    <% end %>
  </div>
  <%= render 'layouts/login-box' %>
</div>
