<div class="page-body">
  <div class="slide-container">
    <%= render 'questions/new' %>
    <div class="registration">
      <div class="tag"><h3>Registration</h3></div>
      <%= form_for(@user) do %>
        <label for="new_username">Username:<p class="red inline"> *</p></label>
        <input type="text" name="user[username]" id="new_username" value="<%= @user.username %>" required>
        <label for="new_password">Password:<p class="red inline"> *</p></label>
        <input type="password" name="user[password]" id="new_password" required>
        <label for="confirm_password">Confirm password:<p class="red inline"> *</p></label>
        <input type="password" name="user[password_confirmation]" id="confirm_password" required>
        <label for="email">E-mail address:<p class="red inline"> *</p></label>
        <input type="email" name="user[email]" id="email" required>
        <label for="firstname">First name:</label>
        <input type="text" name="user[first_name]" id="firstname">
        <label for="lastname">Last name:</label>
        <input type="text" name="user[last_name]" id="lastname">
        <label for="birthdate">Birthday:</label>
        <input type="date" name="user[birthday]" id="birthdate">
        <br>
        <button class="input" type="submit">Register</button>

        <% if flash[:signup_error] %>
          <p class="red"><%= flash[:signup_error] %></p>
        <% end %>

      <% end %>
    </div>
  </div>
  <%= render 'layouts/login-box' %>
</div>