<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @answer.message %>
</p>

<p>
  <strong>Image:</strong>
  <%= @answer.image %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @answer.upvotes %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @answer.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @answer.belongs_to %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
