<div class="login-box">
  <div class="form-box">
    <% if current_user %>
      <p>Welcome, <%= current_user.username %>!</p>
      <%= form_tag({controller: :session, action: :destroy}, method: :delete) do %>
        <button type="submit" class="input">Log Out</button>
      <% end %>
    <% else %>
      <%= form_tag controller: :session, action: :create do %>
        <label for="username">Username:</label>
        <input type="text" id="username" name="user[username]" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]" required>
        <button type="submit" class="input">Sign In</button>
      <% end %>
      <%= form_tag controller: :users, action: :new do %>
        <input type="hidden" value="" name="user[username]" id="new-user">
        <button type="submit" class="input">Sign Up</button>
      <% end %>
      <% if flash[:error] %>
        <p class="red"><%= flash[:error] %></p>
      <% end %>
    <% end %>
  </div>
</div>